---
/**
 * MusicCard 组件
 * 音乐创作/分享卡片
 */
interface Props {
  title: string;       // 歌曲名
  desc: string;        // 描述
  subdesc?: string;    // 副标题
  url: string;         // 链接
  btnText?: string;     // 按钮文本
  bgStyle?: string;     // 背景
  textStyle?: string;  // 文本样式
  btnStyle?: string;   // 按钮样式
  btnTextStyle?: string; // 按钮文本样式
  className?: string;  // 额外的自定义类名
}

const { 
  title, 
  desc, 
  subdesc, 
  url, 
  btnText = "立即收听", 
  bgStyle = "bg-primary", 
  textStyle = "", 
  btnStyle = "bg-opacity-20 hover:bg-opacity-30", 
  btnTextStyle = "",
  className = ""
} = Astro.props;
---

<a href={url} target="_blank" class:list={["block group", className]}>
  <div
    class:list={[
      "card max-lg:card-compact rounded-2xl shadow-xl w-full md:h-[10.5rem] lg:w-[26rem] lg:h-[12rem] mb-8 transition-all duration-300",
      bgStyle,
      textStyle,
    ]}
  >
    <div class="card-body rounded-2xl group-hover:glass transition-all duration-300">
      <h2 class="card-title text-2xl font-bold whitespace-nowrap">{title}</h2>
      <p class="text-sm opacity-90 leading-relaxed">
        {desc}<br />
        {subdesc && <span class="opacity-75">{subdesc}</span>}
      </p>
      {btnText && (
        <div class="card-actions justify-end">
          <button
            class:list={[
              "btn btn-sm rounded-xl border-0",
              btnStyle,
              btnTextStyle,
            ]}
          >
            {btnText}
          </button>
        </div>
      )}
    </div>
  </div>
</a>
