---
import Profile from "./Profile.astro";
import Footer from "./Footer.astro";
import Scripts from "./Scripts.astro";
import HeroSection from "./sections/HeroSection.astro";
import ProjectSection from "./sections/ProjectSection.astro";
import DiarySection from "./sections/DiarySection.astro";
import MusicSection from "./sections/MusicSection.astro";
import ContactSection from "./sections/ContactSection.astro";
import SectionCard from "./cards/SectionCard.astro";
import Articles_List from "./articles_list.astro";
import info from "../data/info";
---

<div class="container m-auto lg:max-xl:w-min main">
  <div
    class="xl:flex xl:flex-row xl:justify-between max-w-screen-2xl px-2 xs:px-5 lg:px-10"
  >
    <Profile imgUrl={info.imgUrl} title={info.title} desc={info.desc} />

    <main>
      <div class="pt-10 xl:pt-20"></div>
      <div class="grid grid-cols-4 gap-x-4 lg:gap-x-8 lg:w-[54rem]">
        <HeroSection
          titleCard={info.titleCard}
          blogCard={info.blogCard}
          primaryCards={info.primaryCards}
        />

        <!-- 文章列表 -->
        <div class="col-span-4">
          <SectionCard {...info.sectionTitles[0]} />
          <Articles_List />
        </div>

        <ProjectSection
          titleInfo={info.sectionTitles[1]}
          projectCardStart={info.projectCardStart}
          projectCards={info.projectCards}
          projectCardEnd={info.projectCardEnd}
        />

        <DiarySection
          titleInfo={info.sectionTitles[2]}
          cards={info.diaryCards}
        />

        <MusicSection
          titleInfo={info.sectionTitles[3]}
          musicCards={info.musicCards}
        />

        <ContactSection
          socialTitleInfo={info.sectionTitles[4]}
          primaryCards={info.primaryCards}
          contactTitleInfo={info.sectionTitles[5]}
          teleCards={info.teleCards}
        />
      </div>

      <Footer />
    </main>
  </div>
</div>

<Scripts />

